* {
    margin: 0;
    box-sizing: border-box;
}

header {
    background-color: cyan;
    border: 1px solid red;
    border-radius: 5px;
    margin-bottom: 10px;
}

nav {
    background-color: darkorange;
    border: 1px solid lightgreen;
    border-radius: 5px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
}

div {
    display: flex;
    justify-content: space-between;
}

aside {
    background-color: orange;
    border: 1px solid red;
    border-radius: 5px;
    display: inline-block;
    width: 20%;
    height: 250px;
    
}

main {
    background-color: red;
    border: 1px solid blue;
    border-radius: 5px;
    display: inline-block;
    width: 50%;
   
}

article {
    background-color: yellow;
    border: 1px solid coral;
    border-radius: 5px;
    height: 60px;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
}

footer {
    background-color: cyan;
    border: 1px solid red;
    border-radius: 5px;
    margin-top: 15px;
    height: 50px;
}